src/conf/xml-resources/web-service-references/TransferWebService/wsdl/localhost_8086/AssWebService/TransferWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="TransferWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8086/AssWebService/TransferWebService?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="giaodich">
<part name="parameters" element="tns:giaodich" />
</message>
<message name="giaodichResponse">
<part name="parameters" element="tns:giaodichResponse" />
</message>
<message name="lichsu">
<part name="parameters" element="tns:lichsu" />
</message>
<message name="lichsuResponse">
<part name="parameters" element="tns:lichsuResponse" />
</message>
<portType name="TransferWebService">
<operation name="hello">
<input wsam:Action="http://service/TransferWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://service/TransferWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="giaodich">
<input wsam:Action="http://service/TransferWebService/giaodichRequest" message="tns:giaodich" />
<output wsam:Action="http://service/TransferWebService/giaodichResponse" message="tns:giaodichResponse" />
</operation>
<operation name="lichsu">
<input wsam:Action="http://service/TransferWebService/lichsuRequest" message="tns:lichsu" />
<output wsam:Action="http://service/TransferWebService/lichsuResponse" message="tns:lichsuResponse" />
</operation>
</portType>
<binding name="TransferWebServicePortBinding" type="tns:TransferWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="giaodich">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="lichsu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TransferWebService">
<port name="TransferWebServicePort" binding="tns:TransferWebServicePortBinding">
<soap:address location="http://localhost:8086/AssWebService/TransferWebService" />
</port>
</service>
</definitions>